*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-mobile{
    display: none;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 15px solid #C70909;;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 9;
}

.logo a{
    color: #083c64;
    text-decoration: none;
}

.logo h2{
    font-weight: bold;
    font-size: 20px;
}

.logo .h2-news{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #C70909;;
    
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #124265;
    font-size: 18px;
    text-decoration: none;
    margin-right: 18px;
    transition: 0.4s;
}

.menu a:hover{
    color: #0057AD;
}

.menu .btn-menu{
    background-color: #0057AD;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color:#124265;
    color: white;
}

.barra-pesquisa {
    height: 36px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
}

.news-input {
    flex: 1;
    width: 300px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-button {
    background-color:#0057AD;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #072e49;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 60px;
    border: 1px solid #888;
    border-radius: 8px;
    text-align: center;
    width: 800px;
  }

  .modal-body input{
    width: 200px;
  }

  .modal-body {
    margin-top: 20px;
}
  
  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
  }

  /* Estilo para mensagens de erro */
.error-message {
    color: red;
    margin-top: 5px;
  }
  
  /* Estilo para o botão de envio */
  .submit-btn {
    background-color: #0057AD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #072e49;
  }


.main_cta{
    width: 100%;
    margin-top: 210px;
    margin-bottom: 15px;
    text-align: center;
}

.main_cta h2{
    color: #16507b;
    font-size: 40px;
}

.main_cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}


/* Estilos CSS para a seção de notícias */


.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

#outras-noticias h2{
    color: #083c64;
    margin-bottom: 20px;
}

.tema-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    background-color: #fff;
}

.tema-noticias h3 {
    margin-bottom: 10px;
}

.noticia {
    border-radius: 8px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    width: 350px; 
    height: 500px;
}

.noticia:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}


.leia-mais-btn {
    width: 100%; 
    height: 40px;
    background-color: #0057AD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.leia-mais-btn:hover {
    background-color: #072e49;
}


/** fim de noticias **/
.noticias-wraper-1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.noticia-destaque{
    width: 60%;
    border: 2px solid white;
    position: relative;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.noticias-wraper-1 h3{
    background-color: #C70909;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.noticia-destaque:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card-content h3{
    font-size: 15px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-style: normal;
}

.card {
    width: 300px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}


.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: 0.5s;
}

.card-header img:hover{
    height: 200px;
}

.card-header #news-img-2{
    margin-top: 106px;
    border-radius: 5px;
}

.card-content {
    padding: 12px;
}

.card-content a{
    text-decoration: none;
    text-transform: none;
}

.news-source {
    margin-block: 12px;
}


/** main ***/

main a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.5s;
}

main a:hover span{
    padding-left: 5px;
}

main a:hover{
    color: #7ac64d;
}

.main_cta button{
    background-color: #0057AD;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

section.sobre{
    padding: 80px 0;
    background-color: #d4ecff42;
    margin-top: 30px;
    margin-bottom: 30px;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre h2{
    color: #124265;
    text-transform: uppercase;
    text-align: center;
}

.chamada-sobre p{
    margin: 10px 0;
    
}

.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p{
    
    text-align: center;
}

.menu-itens{
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid blue;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-itens a{
    display: block;
    text-decoration: none;
    color: blue;
}


.menu-itens.show{
    opacity: 1;
}

.menu-itens.hide{
    opacity: 0;
}

section.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.form-contato{
    flex-direction: column;
    padding: 10px 45px;
    background: #99959541;
    width: 600px;
    border-radius: 10px;
    
}

.form-contato h2{
    color: #124265;
    text-transform: uppercase;
    text-align: center;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #124265;
    font-size: 20px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
}

form button{
    background-color: #0057AD;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

form button:hover{
    background-color: #072e49;
}

footer {
	background-color: #333;
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

footer ul{
    list-style: none;
}

footer a{
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width:768px){
    .noticias-wraper-1{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .conteudo-sobre p{
        width: 100%;
    }

    .menu{
        display: none;
    }

    .logo{
        width: 20%;
    }

    .menu-mobile{
        width: 80%;
        text-align: right;
        display: block;
    }

    .menu-mobile i{
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }

    #searchLabel {
        display: none;
    }

    .barra-pesquisa {
        flex-direction: column;
        align-items: flex-start;
    }

    .news-input {
        width: 100%; 
    }

}